@use '../../../../styles/variables' as *;

.scrollArrowContainer {
    position: absolute;
    bottom: 5rem;
    left: 50%;
    transform: translateX(-50%);
    width: 10rem;
    cursor: pointer;
    animation: pulse 2s ease-in-out infinite;
    transition: opacity 0.3s;

    &.hidden {
        opacity: 0 !important;
        pointer-events: none;
    }
}

@keyframes pulse {
    0% {
        transform: translate(-50%, 25%);
    }

    50% {
        transform: translate(-50%, 0);
    }

    100% {
        transform: translate(-50%, 25%);
    }
}