@use '../../styles/variables' as *;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: var(--font-varela), sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 62.5%;
    color: $color-white;
    background-color: $color-black;
}

h1 {
    @include h1-styles;
}

h2 {
    @include h2-styles;
}

p {
    @include p-styles;
}

header {
    z-index: 20;
    position: relative;
}

main {
    z-index: 10;
}