@use '../../../../styles/variables' as *;

.masonryGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    @media screen and (max-width: $screen-tablet) {
        grid-template-columns: 1fr 1fr;
    }

    .column {
        display: flex;
        flex-direction: column;
    }
}

.imgWrapper {
    position: relative;
    overflow: hidden;

    img {
        transition: scale 0.2s;
    }

    &:hover {
        img {
            scale: 1.05;
        }
    }

    .hoverLayer {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color-black, 0.3);
    }

    .hoverContent {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        white-space: nowrap;
        display: flex;
        flex-direction: column;
        gap: $gap-small;
        align-items: center;

        .text {
            white-space: wrap;
            text-align: center;
        }
    }
}