@use '../../../../styles/variables' as *;

.button {
    padding: 1rem 4rem;
    text-align: center;
    width: fit-content;
    cursor: pointer;
    position: relative;
    z-index: 10;
    opacity: 0.8;
    transition: opacity 0.2s;

    &.white {
        background-color: $color-white;
        color: $color-black;
        text-decoration: none;
        font-size: 2.5rem;
    }

    &.black {
        background-color: $color-black;
    }

    &:hover {
        opacity: 1;
    }
}