@use '../../../../styles/variables' as *;

.wrapper {
    display: flex;
    flex-direction: column;
    gap: $gap-xlarge;
}

.boxGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: $gap-large;
    position: relative;
    background-size: cover;
    background-position: center;

    @media screen and (max-width: $screen-tablet) {
        display: flex;
        flex-direction: column;
    }
}

.centerBtn {
    align-self: center;
}

.rightBtn {
    align-self: end;
}