@use '../../../../styles/variables' as *;

.wrapper {
    display: flex;
    height: 100vh;
    padding: $gap-large 0;
    position: relative;
    margin-top: -100px;

    &.left {
        justify-content: start;
    }

    &.right {
        justify-content: end;
    }

    &.justifyCenter {
        justify-content: center;
    }

    &.top {
        align-items: start;
    }

    &.bottom {
        align-items: end;
    }

    &.alignCenter {
        align-items: center;
    }
}

.heroContentDiv {
    display: flex;
    flex-direction: column;
    gap: $gap-large;

    &.centerLogo {
        align-items: center;
        text-align: center;
    }

    &.rightAlignLogo {
        align-items: end;
        text-align: right;
    }
}

/*.heroTextContainer {
    display: flex;
    flex-direction: column;
    gap: $gap-large;
}*/

.heading {
    color: white;
    @include h1-styles;
    position: relative;

    &.textAlignCenter {
        text-align: center;
    }
}

.email {
    color: inherit;
    text-decoration: none;
    @include link-font-styles;
    position: relative;
    transition: scale 0.3s;

    &:after {
        position: absolute;
        content: "";
        bottom: -1rem;
        left: 0;
        height: 0.2rem;
        background-color: $color-white;
        width: 0%;
        transition: width 0.3s ease;
    }

    &:hover {
        scale: 1.5;
    }

    &:hover:after {
        width: 100%;
    }
}