@use '../../../styles/variables' as *;

.wrapper {
    height: 10rem;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    @include responsivePadding;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;

    @media screen and (min-width: $screen-mobile) {
        pointer-events: none;
    }

    &.headerScrolled {
        @media screen and (max-width: $screen-mobile) {
            background-color: rgba($color-black, 0.8);
        }
    }

    &.hiddenHeader {
        @media screen and (max-width: $screen-mobile) {
            transform: translateY(-100%);
        }
    }
}

.logoWrapper {
    width: 15rem;
    cursor: pointer;
    transition: transform 0.5s ease;
    pointer-events: auto;
}

.smallLogoWrapper {
    width: 5rem;
    cursor: pointer;
    transition: transform 0.5s ease;
    position: absolute;
    left: 2.5rem;
    pointer-events: auto;

    @media screen and (max-width: $screen-tablet) {
        left: 0rem;
    }

    @media screen and (max-width: $screen-mobile) {
        display: none;
    }
}

.hiddenLogo {
    @media screen and (min-width: $screen-mobile) {
        transform: translateY(-7rem);
    }
}