@use '../../../styles/variables' as *;

.wrapper {
    height: 10rem;
    background-color: transparent;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    @include responsivePadding;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
    z-index: 10;

    @media screen and (min-width: $screen-mobile) {
        pointer-events: none;
    }

    /*&.headerScrolled {
        @media screen and (max-width: $screen-mobile) {
            background-color: rgba($color-black, 0.8);
        }
    }*/

    &.hiddenHeader {
        @media screen and (max-width: $screen-mobile) {
            transform: translateY(-100%);
        }
    }

    &.invert {
        /* This creates the inversion effect */
        mix-blend-mode: difference;

        //DELETE THIS TO HAVE INVERT ON MOBILE TOO
        &.headerScrolled {
            @media screen and (max-width: $screen-mobile) {
                background-color: rgba($color-black, 0.8);
                mix-blend-mode: normal;
            }
        }
    }
}

/*.logoWrapper {
    width: 15rem;
    cursor: pointer;
    transition: transform 0.5s ease;
    pointer-events: auto;
}*/

.smallLogoWrapper {
    width: 7rem;
    cursor: pointer;
    transition: all 0.5s ease;
    //position: absolute;
    //left: 2.5rem;
    pointer-events: auto;

    @media screen and (max-width: $screen-tablet) {
        width: 5rem;
    }

    &.isScrolled {
        @media screen and (min-width: $screen-mobile) {
            transform: translateX(calc(-100% - ($gap-small)));

            @media screen and (max-width: $screen-tablet) {
                transform: translateX(-$padding-medium);
                width: 5rem;
            }

            @media screen and (max-width: $screen-mobile) {
                transform: translateX(-$padding-small);
            }
        }
    }
}