@use '../../../../styles/variables' as *;

.wrapper {
    display: flex;
    flex-direction: column;
    gap: $gap-large;
}

.heading {
    @include responsiveMargin;
    padding-left: $gap-small;
    border-left: 0.5rem solid rgba($color-red, 0.8);
}

.sliderTrack {
    @include responsivePadding;
    display: flex;
    gap: $gap-large;

    overflow-x: scroll;

    /* Hide scrollbar for all browsers */
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */

    &::-webkit-scrollbar {
        display: none;
        /* Safari and Chrome */
    }

    @media screen and (max-width: $screen-tablet) {
        gap: $gap-medium;
    }

    @media screen and (max-width: $screen-mobile) {
        gap: $gap-small;
    }
}

.slideContainer {
    position: relative;

    min-width: 50rem;
    max-width: 50rem;
    min-height: 100%;

    @media screen and (max-width: $screen-mobile) {
        min-width: calc((100vw - $padding-small - $gap-small) / 1.5);
        max-width: calc((100vw - $padding-small - $gap-small) / 1.5);
    }

    //responsive width//

    /*min-width: calc((100vw - $padding-large * 2 - $gap-large * 2) / 3);
    max-width: calc((100vw - $padding-large * 2 - $gap-large * 2) / 3);

    @media screen and (max-width: $screen-tablet) {
        min-width: calc((100vw - $padding-medium * 2 - $gap-medium) / 2);
        max-width: calc((100vw - $padding-medium * 2 - $gap-medium) / 2);
    }

    @media screen and (max-width: $screen-mobile) {
        min-width: calc((100vw - $padding-small - $gap-small) / 1.5);
        max-width: calc((100vw - $padding-small - $gap-small) / 1.5);
    }*/
}

.arrowBack {
    position: absolute;
    left: $padding-large;
    top: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
    //width: 7rem;
    //aspect-ratio: 1/1;
    //border-radius: 0.5rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        //transform: translate(-50%, calc(-50% - 0.5rem));
        //box-shadow: 0 6px 10px -3px rgba(0, 0, 0, 0.3);

        .arrow {
            transform: scale(1.1);
        }
    }

    @media screen and (max-width: $screen-tablet) {
        left: $padding-medium;
    }

    @media screen and (max-width: $screen-mobile) {
        left: $padding-small;
        transform: translateY(-50%);

        &:hover {
            transform: translateY(calc(-50% - 0.5rem));
            box-shadow: 0 6px 10px -3px rgba(0, 0, 0, 0.3);
        }
    }

    &:disabled {
        opacity: 0.4;
        pointer-events: none;
        display: none;
    }
}

.arrowNext {
    position: absolute;
    right: $padding-large;
    top: 50%;
    transform: translate(50%, -50%) rotate(-90deg);
    //width: 7rem;
    //aspect-ratio: 1/1;
    //border-radius: 0.5rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.2s;
    //display: flex;
    //justify-content: center;
    //align-items: center;

    &:hover {
        //transform: translate(50%, calc(-50% - 0.5rem));
        //box-shadow: 0 6px 10px -3px rgba(0, 0, 0, 0.3);

        .arrow {
            transform: scale(1.1);
        }
    }

    @media screen and (max-width: $screen-tablet) {
        right: $padding-medium;
    }

    @media screen and (max-width: $screen-tablet) {
        right: $padding-small;
        transform: translateY(-50%);

        &:hover {
            transform: translateY(calc(-50% - 0.5rem));
            box-shadow: 0 6px 10px -3px rgba(0, 0, 0, 0.3);
        }
    }

    &:disabled {
        opacity: 0.4;
        pointer-events: none;
        display: none;
    }
}

.arrow {
    width: 5rem;
    transition: transform 0.2s;
}