@use '../../../../styles/variables' as *;

.wrapper {
    display: flex;
    flex-direction: column;
    gap: $gap-large;
}

.heading {
    @include responsiveMargin;
    padding-left: $gap-small;
    border-left: 0.5rem solid rgba($color-red, 0.8);
}

.sliderTrack {
    @include responsivePadding;
    display: flex;
    gap: $gap-large;

    overflow-x: scroll;
    padding-bottom: 1rem;
    background: transparent;

    /* Hide scrollbar for all browsers */
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */

    &::-webkit-scrollbar {
        display: none;
        /* Safari and Chrome */
    }

    @media screen and (max-width: $screen-tablet) {
        gap: $gap-medium;
    }

    @media screen and (max-width: $screen-mobile) {
        gap: $gap-small;
    }
}

.slideContainer {
    position: relative;

    min-width: 50rem;
    max-width: 50rem;
    min-height: 100%;

    @media screen and (max-width: $screen-mobile) {
        min-width: calc((100vw - $padding-small - $gap-small) / 1.2);
        max-width: calc((100vw - $padding-small - $gap-small) / 1.2);
    }

    //responsive width//

    /*min-width: calc((100vw - $padding-large * 2 - $gap-large * 2) / 3);
    max-width: calc((100vw - $padding-large * 2 - $gap-large * 2) / 3);

    @media screen and (max-width: $screen-tablet) {
        min-width: calc((100vw - $padding-medium * 2 - $gap-medium) / 2);
        max-width: calc((100vw - $padding-medium * 2 - $gap-medium) / 2);
    }

    @media screen and (max-width: $screen-mobile) {
        min-width: calc((100vw - $padding-small - $gap-small) / 1.5);
        max-width: calc((100vw - $padding-small - $gap-small) / 1.5);
    }*/
}

.arrowBack {
    position: absolute;
    left: $padding-large;
    top: 50%;
    transform: translate(-50%, -50%) rotate(180deg);
    //width: 7rem;
    //aspect-ratio: 1/1;
    //border-radius: 0.5rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        //transform: translate(-50%, calc(-50% - 0.5rem));
        //box-shadow: 0 6px 10px -3px rgba(0, 0, 0, 0.3);

        .arrow {
            &::before {
                //top: -6rem;
                //width: 1rem;
                height: calc(100%);
            }

            &::after {
                left: -1.6rem;
                width: calc(100% + 1.6rem);
                height: 1.6rem;
            }
        }
    }

    @media screen and (max-width: $screen-tablet) {
        left: $padding-medium;
    }

    @media screen and (max-width: $screen-mobile) {
        left: $padding-small;
        transform: translateY(-50%);

        &:hover {
            transform: translateY(calc(-50% - 0.5rem)) rotate(-45deg);
            ;
        }
    }

    &:disabled {
        opacity: 0.4;
        pointer-events: none;
        display: none;
    }
}

.arrowNext {
    position: absolute;
    right: $padding-large;
    top: 50%;
    transform: translate(50%, -50%);
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
        //transform: translate(50%, calc(-50% - 0.5rem));
        //box-shadow: 0 6px 10px -3px rgba(0, 0, 0, 0.3);

        .arrow {
            &::before {
                //top: -6rem;
                //width: 1rem;
                height: calc(100%);
            }

            &::after {
                left: -1.6rem;
                width: calc(100% + 1.6rem);
                height: 1.6rem;
            }
        }
    }

    @media screen and (max-width: $screen-tablet) {
        right: $padding-medium;
    }

    @media screen and (max-width: $screen-tablet) {
        right: $padding-small;
        transform: translateY(-50%);

        &:hover {
            transform: translateY(calc(-50% - 0.5rem));
        }
    }

    &:disabled {
        opacity: 0.4;
        pointer-events: none;
        display: none;
    }
}

.arrowWrapper {
    padding: $gap-small;
    backdrop-filter: invert(1);
    background: rgba(255, 255, 255, 0.01);
}

.arrow {
    position: relative;
    width: 5rem;
    aspect-ratio: 1/1;
    transition: all 0.2s;
    transform: rotate(-45deg);

    &::before {
        content: '';
        position: absolute;
        top: -2.2rem;
        right: 0;
        width: 0.8rem;
        height: calc(100% + 2.2rem);
        /* højde = tykkelsen på linjen */
        backdrop-filter: invert(1);
        background: rgba(255, 255, 255, 0.01);
        transition: all 0.2s;
    }

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: -1.6rem;
        width: 100%;
        height: 1.6rem;
        /* højde = tykkelsen på linjen */
        backdrop-filter: invert(1);
        background: rgba(255, 255, 255, 0.01);
        transition: all 0.2s;
    }
}