.wrapper {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.heading {
  margin-left: 10rem;
  margin-right: 10rem;
}
@media screen and (max-width: 1000px) {
  .heading {
    margin-left: 5rem;
    margin-right: 5rem;
  }
}
@media screen and (max-width: 600px) {
  .heading {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
.heading {
  padding-left: 1rem;
  border-left: 0.5rem solid rgba(149, 29, 29, 0.8);
}

.sliderTrack {
  padding-left: 10rem;
  padding-right: 10rem;
}
@media screen and (max-width: 1000px) {
  .sliderTrack {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}
@media screen and (max-width: 600px) {
  .sliderTrack {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
.sliderTrack {
  display: flex;
  gap: 5rem;
  overflow-x: scroll;
  /* Hide scrollbar for all browsers */
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
}
.sliderTrack::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}
@media screen and (max-width: 1000px) {
  .sliderTrack {
    gap: 2.5rem;
  }
}
@media screen and (max-width: 600px) {
  .sliderTrack {
    gap: 1rem;
  }
}

.slideContainer {
  position: relative;
  min-width: 50rem;
  max-width: 50rem;
  min-height: 100%;
}
@media screen and (max-width: 600px) {
  .slideContainer {
    min-width: calc((100vw - 1rem - 1rem) / 1.2);
    max-width: calc((100vw - 1rem - 1rem) / 1.2);
  }
}
.slideContainer {
  /*min-width: calc((100vw - $padding-large * 2 - $gap-large * 2) / 3);
  max-width: calc((100vw - $padding-large * 2 - $gap-large * 2) / 3);

  @media screen and (max-width: $screen-tablet) {
      min-width: calc((100vw - $padding-medium * 2 - $gap-medium) / 2);
      max-width: calc((100vw - $padding-medium * 2 - $gap-medium) / 2);
  }

  @media screen and (max-width: $screen-mobile) {
      min-width: calc((100vw - $padding-small - $gap-small) / 1.5);
      max-width: calc((100vw - $padding-small - $gap-small) / 1.5);
  }*/
}

.arrowBack {
  position: absolute;
  left: 10rem;
  top: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.arrowBack:hover .arrow {
  transform: scale(1.1);
}
@media screen and (max-width: 1000px) {
  .arrowBack {
    left: 5rem;
  }
}
@media screen and (max-width: 600px) {
  .arrowBack {
    left: 1rem;
    transform: translateY(-50%) rotate(90deg);
  }
  .arrowBack:hover {
    transform: translateY(calc(-50% - 0.5rem));
  }
}
.arrowBack:disabled {
  opacity: 0.4;
  pointer-events: none;
  display: none;
}

.arrowNext {
  position: absolute;
  right: 10rem;
  top: 50%;
  transform: translate(50%, -50%) rotate(-90deg);
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s;
}
.arrowNext:hover .arrow {
  transform: scale(1.1);
}
@media screen and (max-width: 1000px) {
  .arrowNext {
    right: 5rem;
  }
}
@media screen and (max-width: 1000px) {
  .arrowNext {
    right: 1rem;
    transform: translateY(-50%) rotate(-90deg);
  }
  .arrowNext:hover {
    transform: translateY(calc(-50% - 0.5rem)) rotate(-90deg);
  }
}
.arrowNext:disabled {
  opacity: 0.4;
  pointer-events: none;
  display: none;
}

.arrow {
  width: 5rem;
  transition: transform 0.2s;
}/*# sourceMappingURL=Slider.module.css.map */