@use '../../../../styles/variables' as *;

.wrapper {
    padding: $gap-medium;
    display: flex;
    gap: $gap-medium;
    position: relative;
    border-radius: $border-radius;
    overflow: hidden;
    color: inherit;
    text-decoration: none;

    @media screen and (max-width: $screen-tablet) {
        flex-direction: column-reverse;
    }

    &:hover {
        .backgroundImage {
            scale: 1.03;
        }
    }
}

.caseInfo {
    display: flex;
    gap: $gap-medium;
    flex-wrap: wrap;
}

.description {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: $gap-medium;
    justify-content: space-between;
}

.textWrapper {
    display: flex;
    flex-direction: column;
    gap: $gap-medium;
    justify-content: center;
}

.skillsUsed {
    display: flex;
    list-style: none;
    gap: $gap-small;
    flex-wrap: wrap;

    .skillBox {
        @include p-styles;
        padding: 0.2rem 0.8rem;
        max-height: fit-content;
        border-radius: 0.8rem;
    }
}

.imageWrapper {
    flex: 1;
    aspect-ratio: 3/2;
    border-radius: $border-radius;
    overflow: hidden;
}

.backgroundImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.3;
    transition: 0.3s;
}