@use '../../../../../styles/variables' as *;

.nav {
    max-width: calc(100vw - 4rem);
    width: fit-content;
    background-color: rgba($color-black, 0.8);
    height: 100%;
    padding: $gap-xlarge $gap-xlarge $gap-large $gap-large;
    border-radius: 0.5rem;
}

.list {
    display: flex;
    flex-direction: column;
    gap: $gap-large;
}

.menuItem {
    list-style: none;
    position: relative;
    max-width: fit-content;

    &:after {
        position: absolute;
        content: "";
        bottom: -1rem;
        left: 0;
        height: 0.1rem;
        background-color: $color-white;
        width: 0%;
        transition: width 0.3s ease;
    }

    &:hover:after {
        width: 100%;
    }

    a {
        text-decoration: none;
        color: $color-white;
        @include menuItem;
    }
}