@use '../../../../styles/variables' as *;

.link {
    text-decoration: none;
}

.slide {
    background-color: rgba($color-white, 0.9);
    color: $color-black;
    //aspect-ratio: 8/9;
    border-radius: 1.2rem;
    display: flex;
    flex-direction: column;
    //gap: $gap-small;
    overflow: hidden;
    min-height: 100%;
}

.imageWrapper {
    width: 100%;
    aspect-ratio: 4/3;
    overflow: hidden;

    img {
        transition: scale 0.2s;
    }

    &:hover {
        img {
            scale: 1.05;
        }
    }
}

.slideText {
    display: flex;
    flex-direction: column;
    //justify-content: space-between;
    gap: $gap-medium;
    padding: 1rem;
    flex-grow: 1;
}

.lastRow {
    display: flex;
    //justify-content: space-between;
    gap: $gap-medium;
    flex-wrap: wrap;
    margin-top: auto;
    //flex-grow: 1;

    .skillsUsed {
        //display: flex;
        list-style: none;
        gap: $gap-small;
        //flex-wrap: wrap;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;

        @media screen and (max-width: $screen-mobile) {
            display: flex;
            flex-wrap: wrap;
        }

        .skillBox {
            //@include p-styles;
            font-size: 1.6rem;
            padding: 0.2rem 0.8rem;
            max-height: fit-content;
            border-radius: 0.3rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .linkContainer {
        white-space: nowrap;
        @include p-styles;
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: end;
        align-self: end;
        background: linear-gradient(to right, #858585, #EBEBEB);
        border-radius: 0.5rem;
        padding-right: $gap-large;

        .arrowLink {
            text-decoration: none;
            color: $color-black;
            display: flex;
            gap: $gap-small;
        }
    }
}