@use '../../../styles/variables' as *;

.wrapper {
    display: flex;
    justify-content: space-between;
    @include responsivePadding;
}

.footerInfo {
    display: flex;
    flex-direction: column;
    gap: $gap-large;
    justify-content: center;

    .email {
        position: relative;
        color: inherit;
        text-decoration: none;
        @include link-font-styles;

        &:after {
            position: absolute;
            content: "";
            bottom: -1rem;
            left: 0;
            height: 0.1rem;
            background-color: $color-white;
            width: 0%;
            transition: width 0.3s ease;
        }

        &:hover:after {
            width: 100%;
        }
    }
}

.iconWrapper {
    max-width: 30rem;
    width: 50%;
}