@use '../../../../styles//variables' as *;

.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color-black;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageWrapper {
    width: 100%;
    aspect-ratio: 1/1;
    max-width: 250px;

    // PULSE ANIMATION
    animation: pulse 1.5s infinite ease-in-out;
}

// KEYFRAMES
@keyframes pulse {

    0%,
    100% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(1.1); // slightly bigger
        opacity: 0; // optional fade
    }
}