@use '../../../../styles//variables' as *;

.popUp {
    background-color: $color-white;
    color: $color-black;
    width: fit-content;
    max-width: calc(100vw - $gap-xlarge);
    padding: $gap-large;
    position: fixed;
    bottom: $gap-large;
    right: $gap-large;
    z-index: 10;
    transition: transform 0.5s;
    display: flex;
    flex-direction: column;
    gap: $gap-medium;
    border: 5px solid $color-red;
    border-radius: 0.5rem;

    &.hidden {
        transform: translateX(calc(100% + $gap-xlarge));
    }

    .closePopUp {
        position: absolute;
        top: $gap-small;
        right: $gap-small;
        width: $gap-medium;
        aspect-ratio: 1/1;
        cursor: pointer;
        border: none;
        background-color: rgb(194, 193, 193);
    }
}