@use '../../../../styles/variables' as *;

.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: $gap-xxlarge;
    overflow: hidden;
    background: linear-gradient(to top right,
            black,
            /* bund sort */
            rgba(255, 255, 255, 0.3),
            black
            /* top sort */
        );

    &:before {
        z-index: 0;
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to top,
                black,
                /* bund sort */
                transparent,
                /* midten "gennemsigtig" */
                black
                /* top sort */
            );

    }

}

.caseHero {
    margin-top: $gap-large;
    z-index: 10;
    display: flex;
    gap: $gap-large;
    align-items: center;
    @include responsivePadding;

    @media screen and (max-width: $screen-tablet) {
        flex-direction: column-reverse;
    }

    .text {
        flex: 1;
        max-width: 70rem;
    }

    .heroImageWrapper {
        width: 100%;
        position: relative;
        overflow-y: scroll;
        aspect-ratio: 8/5;
        border-radius: $border-radius;

        .fullFrontPageWrapper {

            img {
                object-fit: contain;
                width: 100%;
                height: 100%;
            }
        }
    }
}

.relativeWrapper {
    position: relative;
    width: 100%;
    flex: 1;

    .glow {
        position: absolute;
        top: 0%;
        left: 0%;
        z-index: -1;
        width: 120%;
        height: 180%;
    }

    &::before {
        content: "";
        position: absolute;
        bottom: -2rem;
        left: -4rem;
        border-left: 20px solid $color-red;
        border-bottom: 5px solid $color-red;
        width: 25%;
        height: 30%;
        opacity: 0.6;
    }

    &::after {
        content: "";
        position: absolute;
        top: -2rem;
        right: -4rem;
        border-right: 20px solid $color-red;
        border-top: 5px solid $color-red;
        width: 30%;
        height: 15%;
        opacity: 0.6;
    }
}

.text {
    z-index: 10;
    display: flex;
    flex-direction: column;
    gap: $gap-medium;
}

.section2 {
    @include responsivePadding;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .text {
        max-width: 70rem;
    }
}

.section3 {
    @include responsivePadding;
    z-index: 10;
    display: flex;
    gap: $gap-large;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: $screen-tablet) {
        flex-direction: column;
        align-items: start;
    }

    .text {
        flex: 1;
        max-width: 70rem;
    }

    .image2Container {
        flex: 1;
        //width: 100%;
        max-width: 50rem;
        aspect-ratio: 4/6;
    }
}

.section4 {
    @include responsivePadding;
    display: flex;
    gap: $gap-large;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: $screen-tablet) {
        flex-direction: column-reverse;
        align-items: end;
    }

    .image3Container {
        width: 100%;
        max-width: 80rem;
        aspect-ratio: 6/4;
    }

    .text {
        max-width: 70rem;
    }
}

.section5 {
    display: flex;
    flex-direction: column;
    gap: $gap-large;
    align-items: center;

    .text {
        max-width: 70rem;
    }
}