.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 15rem;
  overflow: hidden;
  background: linear-gradient(to top right, black, rgba(255, 255, 255, 0.3), black);
}
.wrapper:before {
  z-index: 0;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, black, transparent, black);
}

.caseHero {
  margin-top: 5rem;
  z-index: 10;
  display: flex;
  gap: 5rem;
  align-items: center;
  padding-left: 10rem;
  padding-right: 10rem;
}
@media screen and (max-width: 1000px) {
  .caseHero {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}
@media screen and (max-width: 600px) {
  .caseHero {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
@media screen and (max-width: 1000px) {
  .caseHero {
    flex-direction: column-reverse;
  }
}
.caseHero .text {
  flex: 1;
  max-width: 70rem;
}
.caseHero .heroImageWrapper {
  width: 100%;
  position: relative;
  overflow-y: scroll;
  aspect-ratio: 8/5;
  border-radius: 0.8rem;
  background-color: #000000;
}
.caseHero .heroImageWrapper .fullFrontPageWrapper img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
}

.relativeWrapper {
  position: relative;
  width: 100%;
  flex: 1;
}
.relativeWrapper .glow {
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: -1;
  width: 120%;
  height: 180%;
}
.relativeWrapper::before {
  content: "";
  position: absolute;
  bottom: -2rem;
  left: -4rem;
  border-left: 20px solid #951d1d;
  border-bottom: 5px solid #951d1d;
  width: 25%;
  height: 30%;
  opacity: 0.6;
}
.relativeWrapper::after {
  content: "";
  position: absolute;
  top: -2rem;
  right: -4rem;
  border-right: 20px solid #951d1d;
  border-top: 5px solid #951d1d;
  width: 30%;
  height: 15%;
  opacity: 0.6;
}

.text {
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.section2 {
  padding-left: 10rem;
  padding-right: 10rem;
}
@media screen and (max-width: 1000px) {
  .section2 {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}
@media screen and (max-width: 600px) {
  .section2 {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
.section2 {
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.section2 .text {
  max-width: 70rem;
}

.section3 {
  padding-left: 10rem;
  padding-right: 10rem;
}
@media screen and (max-width: 1000px) {
  .section3 {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}
@media screen and (max-width: 600px) {
  .section3 {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
.section3 {
  z-index: 10;
  display: flex;
  gap: 5rem;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 1000px) {
  .section3 {
    flex-direction: column;
    align-items: start;
  }
}
.section3 .text {
  flex: 1;
  max-width: 70rem;
}
.section3 .image2Container {
  flex: 1;
  max-width: 50rem;
  aspect-ratio: 4/6;
}

.section4 {
  padding-left: 10rem;
  padding-right: 10rem;
}
@media screen and (max-width: 1000px) {
  .section4 {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}
@media screen and (max-width: 600px) {
  .section4 {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
.section4 {
  display: flex;
  gap: 5rem;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 1000px) {
  .section4 {
    flex-direction: column-reverse;
    align-items: end;
  }
}
.section4 .image3Container {
  width: 100%;
  max-width: 80rem;
  aspect-ratio: 6/4;
}
.section4 .text {
  max-width: 70rem;
}

.section5 {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  align-items: center;
}
.section5 .text {
  max-width: 70rem;
}

.ul {
  padding-left: 2.5rem;
  font-size: 1.8rem;
}

.line {
  margin-top: 2.5rem;
}/*# sourceMappingURL=CasePageComponent.module.css.map */