@use '../../../../styles/variables' as *;

.wrapper {
    display: flex;
    flex-direction: column;
    gap: $gap-medium;
    height: 100%;
}

.transparentBox {
    position: relative;
    padding: $gap-medium;
    border-radius: $border-radius;
    background-image: var(--bg-image);
    background-attachment: fixed;
    background-size: cover;
    background-position: left bottom;
    height: 100%;

    .text {
        z-index: 10;
        position: relative;

        .line {
            margin-top: 1rem;
            display: block;
        }
    }

    .darkLayer {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #000000, $alpha: 0.8);
        z-index: 0;
    }
}